<div th:fragment="footer">
    <footer class="bg-body-tertiary text-center text-lg-start">
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2025 Copyright -
            <span class="text-body">
                Fait avec Java Spring Boot
                <img th:src="@{/img/Spring_Boot.png}" width="25" alt="logo Java Spring">
            </span>
        </div>
        <!-- Copyright -->
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/9.2.0/mdb.umd.min.js" integrity="sha512-VY+mj3DzW3U/KhQue1SvfKGS9QEPyJZcAUQE6D5ZJf4IRe9eDc4J/eQC604+2xDovoEqTbXtJjus0w3zV1VPZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    </main>
    </body>
    </html>
</div>