<div th:fragment="navbar">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container">
            <a class="navbar-brand me-2" href="/">
                <img th:src="@{/img/jo_2024.svg}" width="50" alt="logo J.O 2024">
            </a>

            <button
                    data-mdb-collapse-init
                    class="navbar-toggler"
                    type="button"
                    data-mdb-target="#navbarButtonsExample"
                    aria-controls="navbarButtonsExample"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
            >
                <i class="fas fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarButtonsExample">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/offres">Offres</a>
                    </li>
                </ul>

                <div class="d-flex align-items-center">
                    <div sec:authorize="isAnonymous()">
                        <a href="/user/login">
                            <button data-mdb-ripple-init type="button" class="btn btn-link px-3 me-2">
                                Se connecter
                            </button>
                        </a>
                        <a class="text-white" href="/user/register">
                            <button data-mdb-ripple-init type="button" class="btn btn-primary me-3">
                                Créer un compte
                            </button>
                        </a>
                    </div>
                    <div class="m-1" sec:authorize="isAuthenticated()">
                        <a href="/logout">Se Déconnecter</a>

<!--                        <div th:if="${currentUser != null}">-->
<!--                            <a data-mdb-ripple-init th:href="@{/user/vos_commandes/{id}(id=${currentUser.id})}"></a>-->
<!--                            <a data-mdb-ripple-init th:href="@{/user/votre-profil/{id}(id=${currentUser.id})}"></a>-->
<!--                        </div>-->

                        <a th:if="${currentUser != null}"
                           th:href="@{/user/vos-commandes/{id}(id=${currentUser.id})}">
                            Voir mes commandes
                        </a>

                        <a th:if="${currentUser != null}"
                           th:href="@{/user/votre-profil/{id}(id=${currentUser.id})}">
                            Mon Profil
                        </a>


                    </div>

                    <a class="text-reset me-3 position-relative" href="/panier">
                        <div id="cart-icon">
                            <i class="fas fa-shopping-cart"></i>
                            <span class="badge badge-pill bg-danger" th:text="${cartCount}">0</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>


