html {
    height: 100%;
}

body {
    font-family: "Mulish", sans-serif;
    position: relative;
    margin: 0;
    min-height : 100%;
    padding-bottom: 5rem;
}

footer {
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}