<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/navbar-admin :: navbar-admin}"></div>

<div class="container mt-5">

    <h1 class="text-center" th:text="${title}"></h1>
    <hr>

    <form th:object="${offreDTO}" method="post">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">

        <label class="form-label" for="nom">Nom</label>
        <input class="form-control" type="text" th:field="*{nom}" id="nom">
        <p th:if="${#fields.hasErrors('nom')}" th:class="text-danger" th:errors="*{nom}"></p>

        <label class="form-label" for="description">Description</label>
        <input class="form-control" type="text" th:field="*{description}" id="description">
        <p th:if="${#fields.hasErrors('description')}" th:class="text-danger" th:errors="*{description}"></p>

        <label class="form-label" for="price">Prix</label>
        <input class="form-control" type="number" th:field="*{price}" id="price">
        <p th:if="${#fields.hasErrors('price')}" th:class="text-danger" th:errors="*{price}"></p>

        <button class="btn btn-primary mt-3" type="submit">Ajouter Offre</button>

    </form>


</div>

<div th:insert="~{fragments/footer :: footer}"></div>