<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/navbar :: navbar}"></div>

<div class="container my-4">

    <h1 class="text-center mb-4" th:text="${title}"></h1>

    <div class="row">

        <div th:if="${#lists.isEmpty(commandes)}" class="alert alert-info">
            <p class="text-center">Vous avez aucune commande <span th:text="${user.nom} + ' ' + ${user.prenom}"></span></p>
        </div>

        <div th:if="${!#lists.isEmpty(commandes)}">
            <table class="table table-bordered align-middle">
                <thead>
                <tr>
                    <th>Offre</th>
                    <th>Description</th>
                    <th>Prix (€)</th>
                    <th>Date de la commande</th>
                    <th>QR CODE</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="commande : ${commandes}">
                    <td th:text="${commande.offre.nom}">Nom offre</td>
                    <td th:text="${commande.offre.description}">Description offre</td>
                    <td th:text="${commande.offre.price}"></td>
                    <td th:text="${#temporals.format(commande.date_commande, 'dd/MM/yyyy HH:mm')}"></td>
                    <td><img th:src="@{'/qrcodes/' + ${commande.qrCodeImage}}" alt="pas de qr code" width="200"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
<div th:insert="~{fragments/footer :: footer}"></div>